
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
body{
  background-color: #f7f8fd;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif !important;
}
.bg {
  background-color: #f7f8fd;
  margin: 0;
  padding: 0;
}

/*HeaderNav*/

.navDes {
  background-color: #2D3779;
  color: #fff;
  padding: 20px;
}

.navDes .navbar-brand {
  color: #fff;
}

.navDes .me-2 {
  background-color: #37428a;
  border-radius: 0px 6px 6px 0px;
  border: 0px;
  color: #8b95db;
}

.d-flex .me-2::placeholder{
  color: #8B95DB;
}


.navDes .input-group-text {
  background-color: #37428a;
  border: 0px;
  border-radius: 6px 0px 0px 6px;
}

.navDes .btnCustom{
  background-color: #37428a;
  border: 0px;
  border-radius: 16.5px;
}

.navDes .helpBtn{
  padding: 8px 20px;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.helpBtn .infoIcon{
  margin-right: 5px;
}

.navDes .notiBtn{
  margin-left: 20px;
}

.notiIcon{
  margin: 8px 0px;
}

.profileDiv{
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.profileDiv img{
  width: 100%;
}

.profileDiv span{
  width: auto;
}

.name{
  font-size: 16px;
}

.svgDropDown{
  margin-left: 20px;
}


/*Sidebar css*/

.sidebar{
  background-color: #fff;
  color: #6D728E;
  padding: 30px 0px 30px 30px;
  height: 100%;
  margin-right: 10px;
}
.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-bottom: 50px;
}

.BTNsEC{
  display: flex;
  flex-direction: column;
  margin-top: 30px;

}

.sideNavbarCont{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #ecf6ff80;
  border-right: 4px solid #448dc9;
}

.sideNavbarCont span{
  margin-left: 20px;
}


.switchBtn {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 14px;
  background-color: transparent;
  border: 0px;
  color: #6D728E;
  font-weight: 500;
  font-size: 16px;
  float: left;
  text-decoration: none;
}

.switchBtn:hover, .switchBtn2:hover{
  background-color: #ECF6FF;
  border-radius: 10px 0px 0px 10px;
  border-right: 4px solid #448DC9;
  color: #448DC9;
}
.switchBtn2 {
  cursor: pointer;
  align-items: center;
  width: 100%;
  padding: 14px;
  background-color: transparent;
  border: 0px;
  color: #6D728E;
  font-weight: 500;
  font-size: 16px;
  float: left;
  text-decoration: none;
}

.switchBtn img{
  margin-right: 15px;
  margin-left: 15px;
  width: 30px;
  height: 30px;
  float: left;
}

.disBtb{
  display: flex;
  flex-direction: row;
}

.disBtb sp{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.indisBtb{
  margin-left: 45px;
}

.indisBtb a{
  color: #448DC9;
}

.dropDownSidebAR div a:hover {
  color: #448DC9;
}

.dropDownSidebAR div{
  display: flex;
  flex-direction: column;
  font-size: 15px;
}

.dropDownSidebAR div a{
  text-decoration: none;
  color: #6D728E;
  margin-top: 12px;
  margin-left: -15px;
}

.activeBtnSide{
  background-color: #ECF6FF80;
  border-right: 4px solid #448DC9;
}

/*Date Siebar*/

.NotiSec{
  margin: 30px 0px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
}

.NotiSec h2 {
    margin-top: 50px;
    font-weight: 600;
    font-size: 18px;
}

.NotiCard{
  margin-top: 10px;
  padding: 10px 12px;
  background: #FCFCFC;
  border: 1px solid #E9F0FC;
  border-radius: 4px;
}

.done{
  display: block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #29CC39;
  margin-right: 10px;
}

.pending{
  display: block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: linear-gradient(145.49deg, #696BE0 15.12%, rgba(88, 90, 208, 0.94) 84.94%);
  margin-right: 10px;
}

.NotiCard span{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.notihEAD{
  font-weight: 500;
  color: #363C48;
}

.notiDate{
  color: #6F7883;
  font-weight: 500;
  font-size: 14px;
}


/*Calendar*/
.NotiSec table.fc-scrollgrid.fc-scrollgrid-liquid tr th a, .NotiSec table.fc-scrollgrid.fc-scrollgrid-liquid tr td a {
    color: #000;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
}
.react-calendar {
  width: 350px;
  max-width: 100%;
  background: white;
  border: 0px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
}
.react-calendar--doubleView {
  width: 700px;
}
.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}
.react-calendar button:enabled:hover {
  cursor: pointer;
}
.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1em;
}
.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}
.react-calendar__navigation button:disabled {
  background-color: #f0f0f0;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}
.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
}
.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  font-weight: bold;
}
.react-calendar__month-view__days__day--weekend {
  color: #d10000;
}
.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}
.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  line-height: 16px;
}
.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}
.react-calendar__tile--now {
  background: #ffff76;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #ffffa9;
}
.react-calendar__tile--hasActive {
  background: #76baff;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}
.react-calendar__tile--active {
  background: #006edc;
  color: white;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #1087ff;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}
.filterContainer {
  border: 1px solid #e9f0fc;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 20px;
}

.singleData .dropdown-toggle{
  background: #F3F6F9;
  padding: 3px 5px;
  color: #464E5F;
  font-size: 18px;
  border: 0px;
  font-weight: 600;
}

.btnCont {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 20px;
}

.ligBtn:hover {
  color: #7e839f;
}
.ligBtn, .ligBtn:hover {
  background-color: #f8fafb;
}

.clrBtn {
  background-color: #a0a5c0;
  border-radius: 50%;
  color: #fff;
  font-size: 12px;
  margin-right: 10px;
  padding: 4px 6px;
}

.campModal input[type=text] {
  background-color: #fff;
}
input[type=text] {
  width: 100%;
}
.form-control, .form-select, input[type=text] {
  background-color: #f8fafb;
  border: 1px solid #e7ecff;
  border-radius: 2px;
  color: #6d728e;
  font-size: 14px;
  font-weight: 500;
}

.form-label {
  color: #7e839f;
  font-weight: 500;
}
.NotiSec .fc-toolbar-chunk .fc-toolbar-title {
    font-size: 11.5px;
    padding-left: 25px;
}
/**/
th.fc-day-sun a, th.fc-col-header-cell.fc-day.fc-day-sat a {
    color: #ff0000 !important;
}
.socialData span.desc {
    font-size: 10px;
    color: #A9AECD;
}
.social-data {
    text-align: right;
}
.social-data p {
    margin-bottom: 0px;
    display: table;
    margin-left: auto;
    background-color: rgb(47 209 198 / 20%);
    color: #2FD1C6;
    padding: 2px 10px;
    border-radius: 6px;
    font-size: 10px;
}
.NotiSec .fc .fc-button-group > .fc-button, .NotiSec .fc .fc-button-group > .fc-button:focus, .NotiSec .fc .fc-button-group > .fc-button:hover {
    position: unset !important;
    background-color: transparent;
    border: 0;
    padding: 0px;
}
.NotiSec .fc .fc-button-group{
  position: unset;
}
.NotiSec .fc .fc-daygrid-body-unbalanced .fc-daygrid-day-events{
  min-height: 0.5rem;
}
.BTNsEC > div{
  margin-bottom: 10px;
}
.custTableHead .form-check{
  min-height: auto;
}
.fc-daygrid-day-events a.fc-daygrid-event {
    font-size: 0px !important;
    border: 0;
    width: 6px;
    height: 6px;
    margin-left: auto !important;
    border-radius: 50px;
}
.profileDiv span.navbar-brand.name{
  font-size: 14px;
}
.profileDiv span.navbar-brand.name:hover{
  color: #fff;
}
.navDes .helpBtn{
  font-size: 14px;
}
.campModal div h3 {
    font-size: 22px;
    font-weight: 600;
    color: #2D3779;
    margin-bottom: 15px;
    display: inline-block;
}
.campModal div label.form-label{
    display: block;
}
.modal .modal-dialog, .global-modal .modal-dialog {
  width: 650px !important;
  margin: 0px auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
}
.addCamCont select {
    height: 50px;
    border-radius: 7px;
    margin-bottom: 20px;
}
.addCamCont button.primBtn {
    width: 100%;
    margin-bottom: 10px;
    border: 0;
    padding: 13px 0;
}
button.primBtn.modal-light-btn- {
    background-color: #F1F4FF;
    color: #464E5F;
}
.miniNav button.switchBtn1 {
    margin-right: 30px;
}
.cardupper{
  display: flex;
  justify-content: space-between;
}
.chartimg , .chartimg span, .chartimg img{
  max-width: unset !important;
  width: 100% !important;
}
.clear-filter-button .clear-button {
    margin-right: 5px;
}
.modal-head .close {
  border: 0;
  background-color: transparent !important;
  padding: 0;
  height: auto !important;
  font-size: 24px;
}
.modal-head  h2{
  margin-bottom: 0px !important;
}
.modal-head {
  margin-bottom: 20px;
}
.form-control::placeholder{
  font-weight: 400;
}
.modal  .modal-dialog .modal-content {
  border: 0;
}
.btnCenCont button.primBtn {
  border: 0;
}
/**/

@media only screen and (max-width: 767px){
  .influencer-table-con table.table {
    width: 100%;
    display: block;
    overflow-x: auto;
}
}